@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

/* NORMALIZE.CSS */
#hhreplayer {
  /**
   * Correct `block` display not defined in IE 8/9.
   */
  /**
   * Correct `inline-block` display not defined in IE 8/9.
   */
  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  /**
   * Address `[hidden]` styling not present in IE 8/9.
   * Hide the `template` element in IE, Safari, and Firefox < 22.
   */
  /* ==========================================================================
     Base
     ========================================================================== */
  /**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS text size adjust after orientation change, without disabling
   *    user zoom.
   */
  /**
   * Remove default margin.
   */
  /* ==========================================================================
     Links
     ========================================================================== */
  /**
   * Remove the gray background color from active links in IE 10.
   */
  /**
   * Address `outline` inconsistency between Chrome and other browsers.
   */
  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
  /* ==========================================================================
     Typography
     ========================================================================== */
  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari 5, and Chrome.
   */
  /**
   * Address styling not present in IE 8/9, Safari 5, and Chrome.
   */
  /**
   * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
   */
  /**
   * Address styling not present in Safari 5 and Chrome.
   */
  /**
   * Address differences between Firefox and other browsers.
   */
  /**
   * Address styling not present in IE 8/9.
   */
  /**
   * Correct font family set oddly in Safari 5 and Chrome.
   */
  /**
   * Improve readability of pre-formatted text in all browsers.
   */
  /**
   * Set consistent quote types.
   */
  /**
   * Address inconsistent and variable font size in all browsers.
   */
  /**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
  /* ==========================================================================
     Embedded content
     ========================================================================== */
  /**
   * Remove border when inside `a` element in IE 8/9.
   */
  /**
   * Correct overflow displayed oddly in IE 9.
   */
  /* ==========================================================================
     Figures
     ========================================================================== */
  /**
   * Address margin not present in IE 8/9 and Safari 5.
   */
  /* ==========================================================================
     Forms
     ========================================================================== */
  /**
   * Define consistent border, margin, and padding.
   */
  /**
   * 1. Correct `color` not being inherited in IE 8/9.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
  /**
   * 1. Correct font family not being inherited in all browsers.
   * 2. Correct font size not being inherited in all browsers.
   * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
   */
  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
   * Correct `select` style inheritance in Firefox 4+ and Opera.
   */
  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
  /**
   * Re-set default cursor for disabled elements.
   */
  /**
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
  /**
   * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
   *    (include `-moz` to future-proof).
   */
  /**
   * Remove inner padding and search cancel button in Safari 5 and Chrome
   * on OS X.
   */
  /**
   * Remove inner padding and border in Firefox 4+.
   */
  /**
   * 1. Remove default vertical scrollbar in IE 8/9.
   * 2. Improve readability and alignment in all browsers.
   */
  /* ==========================================================================
     Tables
     ========================================================================== */
  /**
   * Remove most spacing between table cells.
   */
}
#hhreplayer article,
#hhreplayer aside,
#hhreplayer details,
#hhreplayer figcaption,
#hhreplayer figure,
#hhreplayer footer,
#hhreplayer header,
#hhreplayer hgroup,
#hhreplayer main,
#hhreplayer nav,
#hhreplayer section,
#hhreplayer summary {
  display: block;
}
#hhreplayer audio,
#hhreplayer canvas,
#hhreplayer video {
  display: inline-block;
}
#hhreplayer audio:not([controls]) {
  display: none;
  height: 0;
}
#hhreplayer [hidden],
#hhreplayer template {
  display: none;
}
#hhreplayer html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
#hhreplayer body {
  margin: 0;
}
#hhreplayer a {
  background: transparent;
}
#hhreplayer a:focus {
  outline: thin dotted;
}
#hhreplayer a:active,
#hhreplayer a:hover {
  outline: 0;
}
#hhreplayer h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#hhreplayer abbr[title] {
  border-bottom: 1px dotted;
}
#hhreplayer b,
#hhreplayer strong {
  font-weight: bold;
}
#hhreplayer dfn {
  font-style: italic;
}
#hhreplayer hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#hhreplayer mark {
  background: #ff0;
  color: #000;
}
#hhreplayer code,
#hhreplayer kbd,
#hhreplayer pre,
#hhreplayer samp {
  font-family: monospace, serif;
  font-size: 1em;
}
#hhreplayer pre {
  white-space: pre-wrap;
}
#hhreplayer q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
#hhreplayer small {
  font-size: 80%;
}
#hhreplayer sub,
#hhreplayer sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#hhreplayer sup {
  top: -0.5em;
}
#hhreplayer sub {
  bottom: -0.25em;
}
#hhreplayer img {
  border: 0;
}
#hhreplayer svg:not(:root) {
  overflow: hidden;
}
#hhreplayer figure {
  margin: 0;
}
#hhreplayer fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#hhreplayer legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
#hhreplayer button,
#hhreplayer input,
#hhreplayer select,
#hhreplayer textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
#hhreplayer button,
#hhreplayer input {
  line-height: normal;
}
#hhreplayer button,
#hhreplayer select {
  text-transform: none;
}
#hhreplayer button,
#hhreplayer html input[type="button"],
#hhreplayer input[type="reset"],
#hhreplayer input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
#hhreplayer button[disabled],
#hhreplayer html input[disabled] {
  cursor: default;
}
#hhreplayer input[type="checkbox"],
#hhreplayer input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
#hhreplayer input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
#hhreplayer input[type="search"]::-webkit-search-cancel-button,
#hhreplayer input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#hhreplayer button::-moz-focus-inner,
#hhreplayer input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#hhreplayer textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
#hhreplayer table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END NORMALIZE.CSS */


*, html, body{
box-sizing:border-box;
-moz-box-sizing:border-box;
}
.template{
display:none;
}
.pull-right{
float:right;
}
.pull-left{
float:left;
}
.h{
display:none;
}
.money{
color:#f4e18a;
text-shadow:0px 0px 2px #000;
}
#room{
/*margin-top:50px;*/
padding:40px;
/*perspective*/
-webkit-perspective:700px;
   -moz-perspective:700px;
    -ms-perspective:700px;
     -o-perspective:700px;
        perspective:700px;
/*perspective-origin*/
-webkit-perspective-origin:50% 50%;
   -moz-perspective-origin:50% 50%;
    -ms-perspective-origin:50% 50%;
     -o-perspective-origin:50% 50%;
        perspective-origin:50% 50%;
position:relative;
height:450px;
min-width:700px;
width:700px;
background-color:#222;
}
#pot{
float:left;
clear:both;
font-size:14px;
color:#fff;
width:290px;
text-align:center;
padding-top:5px;
margin-top:-25px;
margin-bottom:10px;
}
#pot .total{
font-size:12px;
}
#pot-odds{
min-width:95px;
display:inline-block;
text-align:left;
margin-left:5px;
color:#fff;
background-color:rgba(30, 30, 30, 0.8);
/*border-radius*/
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
line-height:18px;
padding:3px;
text-align:center;
}
#replayertable{
position:absolute;
left:50%;
top:50px;
width:602px;
height:301px;
background:#555555 url("i/logoKT.png") no-repeat center center;
margin-left:-301px;
padding:70px 130px 90px;
/*border-radius*/
-webkit-border-radius:150.5px;
   -moz-border-radius:150.5px;
        border-radius:150.5px;
border:26px solid #050505;
/*box-shadow*/
-webkit-box-shadow:0px 0px 40px rgba(230, 230, 230, 0.5), 0px 0px 40px rgba(30, 40, 30, 0.9) inset;
   -moz-box-shadow:0px 0px 40px rgba(230, 230, 230, 0.5), 0px 0px 40px rgba(30, 40, 30, 0.9) inset;
        box-shadow:0px 0px 40px rgba(230, 230, 230, 0.5), 0px 0px 40px rgba(30, 40, 30, 0.9) inset;
/*transform*/
-webkit-transform:rotateX(0deg);
   -moz-transform:rotateX(0deg);
    -ms-transform:rotateX(0deg);
     -o-transform:rotateX(0deg);
        transform:rotateX(0deg);
/*transform-origin*/
-webkit-transform-origin:0% 100%;
   -moz-transform-origin:0% 100%;
    -ms-transform-origin:0% 100%;
     -o-transform-origin:0% 100%;
        transform-origin:0% 100%;
}
#replayertable .player{
position:absolute;
width:85px;
}
#replayertable .player .cards{
position:relative;
height:35px;
min-height:35px;
overflow:hidden;
width:65px;
}
#replayertable .player .cards.mucked .card{
display:none;
}
#replayertable .player .card:nth-of-type(2){
margin-left:15px;
}
#replayertable .player .info{
margin-left:-20px;
text-align:center;
background-image:radial-gradient(rgba(230, 230, 230, 0.5), rgba(240, 240, 240, 0));
/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
line-height:1em;
}
#replayertable .player .info .name{
color:#fff;
text-overflow:ellipsis;
line-height:20px;
}
#replayertable .player .info .stack{
display:block;
font-weight:bold;
font-size:16px;
line-height:20px;
}
#replayertable .player .info .stack.all-in{
color:#c22;
}
#replayertable .player .action{
margin-left:-20px;
display:block;
text-align:center;
color:#eee;
font-style:italic;
font-size:14px;
}
#replayertable .player .bet{
position:absolute;
display:block;
font-size:14px;
}
#replayertable .player .dealer{
position:absolute;
display:none;
width:20px;
height:20px;
/*border-radius*/
-webkit-border-radius:10px;
   -moz-border-radius:10px;
        border-radius:10px;
background-color:#dd7;
color:#000;
line-height:20px;
text-align:center;
font-weight:bold;
font-size:14px;
/*box-shadow*/
-webkit-box-shadow:2px 2px 0px #111;
   -moz-box-shadow:2px 2px 0px #111;
        box-shadow:2px 2px 0px #111;
}
#replayertable.max2 .player.sb {
  top: 130px;
  left: 530px;
}
#replayertable.max2 .player.sb .bet {
  top: 40px;
  left: -70px;
}
#replayertable.max2 .player.sb .dealer {
  display: block;
  top: 65px;
  left: -55px;
}
#replayertable.max2 .player.bb {
  top: 130px;
  left: -45px;
}
#replayertable.max2 .player.bb .bet {
  top: 40px;
  left: 100px;
}
#replayertable.max3 .player.mp, #replayertable.max4 .player.mp, #replayertable.max5 .player.mp {
  top: -65px;
  left: 40px;
}
#replayertable.max3 .player.mp .bet, #replayertable.max4 .player.mp .bet, #replayertable.max5 .player.mp .bet {
  top: 95px;
  left: 30px;
}
#replayertable.max3 .player.co, #replayertable.max4 .player.co, #replayertable.max5 .player.co {
  top: -65px;
  left: 450px;
}
#replayertable.max3 .player.co .bet, #replayertable.max4 .player.co .bet, #replayertable.max5 .player.co .bet {
  top: 95px;
  left: -10px;
}
#replayertable.max3 .player.btn, #replayertable.max4 .player.btn, #replayertable.max5 .player.btn {
  top: 130px;
  left: 530px;
}
#replayertable.max3 .player.btn .bet, #replayertable.max4 .player.btn .bet, #replayertable.max5 .player.btn .bet {
  top: 40px;
  left: -70px;
}
#replayertable.max3 .player.btn .dealer, #replayertable.max4 .player.btn .dealer, #replayertable.max5 .player.btn .dealer {
  display: block;
  top: 65px;
  left: -55px;
}
#replayertable.max3 .player.sb, #replayertable.max4 .player.sb, #replayertable.max5 .player.sb {
  top: 220px;
  left: 250px;
}
#replayertable.max3 .player.sb .bet, #replayertable.max4 .player.sb .bet, #replayertable.max5 .player.sb .bet {
  top: -20px;
  left: 15px;
}
#replayertable.max3 .player.bb, #replayertable.max4 .player.bb, #replayertable.max5 .player.bb {
  top: 130px;
  left: -45px;
}
#replayertable.max3 .player.bb .bet, #replayertable.max4 .player.bb .bet, #replayertable.max5 .player.bb .bet {
  top: 40px;
  left: 100px;
}
#replayertable.max6 .player.utg, #replayertable.max7 .player.utg, #replayertable.max8 .player.utg, #replayertable.max9 .player.utg {
  top: -5px;
  left: -45px;
}
#replayertable.max6 .player.utg .bet, #replayertable.max7 .player.utg .bet, #replayertable.max8 .player.utg .bet, #replayertable.max9 .player.utg .bet {
  top: 50px;
  left: 100px;
}
#replayertable.max6 .player.utg2, #replayertable.max7 .player.utg2, #replayertable.max8 .player.utg2, #replayertable.max9 .player.utg2 {
  top: -65px;
  left: 120px;
}
#replayertable.max6 .player.utg2 .bet, #replayertable.max7 .player.utg2 .bet, #replayertable.max8 .player.utg2 .bet, #replayertable.max9 .player.utg2 .bet {
  top: 95px;
  left: 15px;
}
#replayertable.max6 .player.utg3, #replayertable.max7 .player.utg3, #replayertable.max8 .player.utg3, #replayertable.max9 .player.utg3 {
  top: -65px;
  left: 330px;
}
#replayertable.max6 .player.utg3 .bet, #replayertable.max7 .player.utg3 .bet, #replayertable.max8 .player.utg3 .bet, #replayertable.max9 .player.utg3 .bet {
  top: 95px;
  left: 15px;
}
#replayertable.max6 .player.mp, #replayertable.max7 .player.mp, #replayertable.max8 .player.mp, #replayertable.max9 .player.mp {
  top: -5px;
  left: 530px;
}
#replayertable.max6 .player.mp .bet, #replayertable.max7 .player.mp .bet, #replayertable.max8 .player.mp .bet, #replayertable.max9 .player.mp .bet {
  top: 50px;
  left: -70px;
}
#replayertable.max6 .player.mp2, #replayertable.max7 .player.mp2, #replayertable.max8 .player.mp2, #replayertable.max9 .player.mp2 {
  top: 130px;
  left: 530px;
}
#replayertable.max6 .player.mp2 .bet, #replayertable.max7 .player.mp2 .bet, #replayertable.max8 .player.mp2 .bet, #replayertable.max9 .player.mp2 .bet {
  top: 40px;
  left: -70px;
}
#replayertable.max6 .player.co, #replayertable.max7 .player.co, #replayertable.max8 .player.co, #replayertable.max9 .player.co {
  top: 220px;
  left: 400px;
}
#replayertable.max6 .player.co .bet, #replayertable.max7 .player.co .bet, #replayertable.max8 .player.co .bet, #replayertable.max9 .player.co .bet {
  top: -20px;
  left: 15px;
}
#replayertable.max6 .player.btn, #replayertable.max7 .player.btn, #replayertable.max8 .player.btn, #replayertable.max9 .player.btn {
  top: 220px;
  left: 250px;
}
#replayertable.max6 .player.btn .bet, #replayertable.max7 .player.btn .bet, #replayertable.max8 .player.btn .bet, #replayertable.max9 .player.btn .bet {
  top: -20px;
  left: 15px;
}
#replayertable.max6 .player.btn .dealer, #replayertable.max7 .player.btn .dealer, #replayertable.max8 .player.btn .dealer, #replayertable.max9 .player.btn .dealer {
  display: block;
  top: 0px;
  left: -35px;
}
#replayertable.max6 .player.sb, #replayertable.max7 .player.sb, #replayertable.max8 .player.sb, #replayertable.max9 .player.sb {
  top: 220px;
  left: 100px;
}
#replayertable.max6 .player.sb .bet, #replayertable.max7 .player.sb .bet, #replayertable.max8 .player.sb .bet, #replayertable.max9 .player.sb .bet {
  top: -20px;
  left: 15px;
}
#replayertable.max6 .player.bb, #replayertable.max7 .player.bb, #replayertable.max8 .player.bb, #replayertable.max9 .player.bb {
  top: 130px;
  left: -45px;
}
#replayertable.max6 .player.bb .bet, #replayertable.max7 .player.bb .bet, #replayertable.max8 .player.bb .bet, #replayertable.max9 .player.bb .bet {
  top: 40px;
  left: 100px;
}
#action-bar {
  position: absolute;
  left: 50%;
  top: 391px;
  width: 602px;
  height: 40px;
  margin-left: -301px;
  background: linear-gradient(to bottom, #7d7e7d 0%, #111111 100%);
  color: #ddd;
-webkit-border-radius:5px;
   -moz-border-radius:5px;
		border-radius:5px;
}
#action-bar .cote-pot {
  float: left;
  background: #111;
  padding: 4px;
-webkit-border-radius:5px;
   -moz-border-radius:5px;
		border-radius:5px;
  margin-top: 6px;
}
#action-bar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#action-bar nav li {
  float: left;
  height: 40px;
  text-align: center;
  border-right: 1px solid #888;
}
#action-bar nav li.last {
  border: none;
  float: right;
}
#action-bar nav li.last a {
  width: 100%;
  font-size: 12px;
  text-shadow: none;
}
#action-bar nav li.last a:hover {
  color: #fff;
  text-shadow: none;
}
#action-bar nav li a {
  display: block;
  width: 100px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  text-shadow: 2px 2px #111;
}
#action-bar nav li a:hover {
  color: #f22;
  text-shadow: 1px 1px #000;
}
#action-bar nav li.streets {
  border: none;
}
#action-bar nav li.streets a {
  width: auto;
  float: left;
  border: 1px solid #999;
  line-height: 16px;
  font-size: 16px;
  padding: 2px 5px;
  margin-top: 9px;
  margin-left: 5px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #111;
}
#action-bar nav li.streets a:nth-of-type(1) {
  margin-left: 20px;
}
#action-bar nav li.streets a.disabled, #action-bar nav li.streets a .inactive {
  border: 1px solid #222;
  color: #222;
  cursor: default;
  text-shadow: none;
}

.card{
position:absolute;
display:block;
top:0;
left:0;
width:50px;
height:69px;
margin-right:10px;
/*box-shadow*/
-webkit-box-shadow:3px 3px 2px #111;
   -moz-box-shadow:3px 3px 2px #111;
        box-shadow:3px 3px 2px #111;
}
.card.card-last{
margin-right:0px;
}
.card-cover{
background:url("i/Deck6.png") -650px 0px no-repeat;
}
.card-AS{
background:url("i/Deck6.png") -0px 0 no-repeat;
}
.card-KS{
background:url("i/Deck6.png") -50px 0 no-repeat;
}
.card-QS{
background:url("i/Deck6.png") -100px 0 no-repeat;
}
.card-JS{
background:url("i/Deck6.png") -150px 0 no-repeat;
}
.card-TS{
background:url("i/Deck6.png") -200px 0 no-repeat;
}
.card-9S{
background:url("i/Deck6.png") -250px 0 no-repeat;
}
.card-8S{
background:url("i/Deck6.png") -300px 0 no-repeat;
}
.card-7S{
background:url("i/Deck6.png") -350px 0 no-repeat;
}
.card-6S{
background:url("i/Deck6.png") -400px 0 no-repeat;
}
.card-5S{
background:url("i/Deck6.png") -450px 0 no-repeat;
}
.card-4S{
background:url("i/Deck6.png") -500px 0 no-repeat;
}
.card-3S{
background:url("i/Deck6.png") -550px 0 no-repeat;
}
.card-2S{
background:url("i/Deck6.png") -600px 0 no-repeat;
}
.card-AH{
background:url("i/Deck6.png") -0px -70px no-repeat;
}
.card-KH{
background:url("i/Deck6.png") -50px -70px no-repeat;
}
.card-QH{
background:url("i/Deck6.png") -100px -70px no-repeat;
}
.card-JH{
background:url("i/Deck6.png") -150px -70px no-repeat;
}
.card-TH{
background:url("i/Deck6.png") -200px -70px no-repeat;
}
.card-9H{
background:url("i/Deck6.png") -250px -70px no-repeat;
}
.card-8H{
background:url("i/Deck6.png") -300px -70px no-repeat;
}
.card-7H{
background:url("i/Deck6.png") -350px -70px no-repeat;
}
.card-6H{
background:url("i/Deck6.png") -400px -70px no-repeat;
}
.card-5H{
background:url("i/Deck6.png") -450px -70px no-repeat;
}
.card-4H{
background:url("i/Deck6.png") -500px -70px no-repeat;
}
.card-3H{
background:url("i/Deck6.png") -550px -70px no-repeat;
}
.card-2H{
background:url("i/Deck6.png") -600px -70px no-repeat;
}
.card-AD{
background:url("i/Deck6.png") -0px -140px no-repeat;
}
.card-KD{
background:url("i/Deck6.png") -50px -140px no-repeat;
}
.card-QD{
background:url("i/Deck6.png") -100px -140px no-repeat;
}
.card-JD{
background:url("i/Deck6.png") -150px -140px no-repeat;
}
.card-TD{
background:url("i/Deck6.png") -200px -140px no-repeat;
}
.card-9D{
background:url("i/Deck6.png") -250px -140px no-repeat;
}
.card-8D{
background:url("i/Deck6.png") -300px -140px no-repeat;
}
.card-7D{
background:url("i/Deck6.png") -350px -140px no-repeat;
}
.card-6D{
background:url("i/Deck6.png") -400px -140px no-repeat;
}
.card-5D{
background:url("i/Deck6.png") -450px -140px no-repeat;
}
.card-4D{
background:url("i/Deck6.png") -500px -140px no-repeat;
}
.card-3D{
background:url("i/Deck6.png") -550px -140px no-repeat;
}
.card-2D{
background:url("i/Deck6.png") -600px -140px no-repeat;
}
.card-AC{
background:url("i/Deck6.png") -0px -210px no-repeat;
}
.card-KC{
background:url("i/Deck6.png") -50px -210px no-repeat;
}
.card-QC{
background:url("i/Deck6.png") -100px -210px no-repeat;
}
.card-JC{
background:url("i/Deck6.png") -150px -210px no-repeat;
}
.card-TC{
background:url("i/Deck6.png") -200px -210px no-repeat;
}
.card-9C{
background:url("i/Deck6.png") -250px -210px no-repeat;
}
.card-8C{
background:url("i/Deck6.png") -300px -210px no-repeat;
}
.card-7C{
background:url("i/Deck6.png") -350px -210px no-repeat;
}
.card-6C{
background:url("i/Deck6.png") -400px -210px no-repeat;
}
.card-5C{
background:url("i/Deck6.png") -450px -210px no-repeat;
}
.card-4C{
background:url("i/Deck6.png") -500px -210px no-repeat;
}
.card-3C{
background:url("i/Deck6.png") -550px -210px no-repeat;
}
.card-2C{
background:url("i/Deck6.png") -600px -210px no-repeat;
}
.flop, .turn, .river{
position:relative;
float:left;
height:70px;
}
.flop{
width:180px;
}
.turn{
width:60px;
}
.river{
width:50px;
}
.turn .card, .river .card{
opacity:0;
}
.flop.show .card:nth-of-type(1){
z-index:1;
/*animation*/
-webkit-animation:flop1 0.7s ease-out 0s;
   -moz-animation:flop1 0.7s ease-out 0s;
    -ms-animation:flop1 0.7s ease-out 0s;
     -o-animation:flop1 0.7s ease-out 0s;
        animation:flop1 0.7s ease-out 0s;
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;
}
.flop.show .card:nth-of-type(2){
z-index:2;
/*animation*/
-webkit-animation:flop2 0.7s ease-out 0s;
   -moz-animation:flop2 0.7s ease-out 0s;
    -ms-animation:flop2 0.7s ease-out 0s;
     -o-animation:flop2 0.7s ease-out 0s;
        animation:flop2 0.7s ease-out 0s;
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;
}
.flop.show .card:nth-of-type(3){
z-index:3;
/*animation*/
-webkit-animation:flop3 0.7s ease-out 0s;
   -moz-animation:flop3 0.7s ease-out 0s;
    -ms-animation:flop3 0.7s ease-out 0s;
     -o-animation:flop3 0.7s ease-out 0s;
        animation:flop3 0.7s ease-out 0s;
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;
}
@keyframes flop1{
  from {
    -ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  to {
    -ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes flop1{
  from {
    -ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  to {
    -ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes flop2{
  from {
    -ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  to {
    -ms-transform: translateX(60px);
	-webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}
@-webkit-keyframes flop2{
  from {
    -ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  to {
    -ms-transform: translateX(60px);
	-webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}
@keyframes flop3{
  from {
    -ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  to {
    -ms-transform: translateX(120px);
	-webkit-transform: translateX(120px);
    transform: translateX(120px);
  }
}
@-webkit-keyframes flop3{
  from {
    -ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  to {
    -ms-transform: translateX(120px);
	-webkit-transform: translateX(120px);
    transform: translateX(120px);
  }
}
.turn.show .card{
/*animation*/
-webkit-animation:turn-river 0.7s ease-out 0s;
   -moz-animation:turn-river 0.7s ease-out 0s;
    -ms-animation:turn-river 0.7s ease-out 0s;
     -o-animation:turn-river 0.7s ease-out 0s;
        animation:turn-river 0.7s ease-out 0s;
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;
}
.river.show .card{
/*animation*/
-webkit-animation:turn-river 0.7s ease-out 0s;
   -moz-animation:turn-river 0.7s ease-out 0s;
    -ms-animation:turn-river 0.7s ease-out 0s;
     -o-animation:turn-river 0.7s ease-out 0s;
        animation:turn-river 0.7s ease-out 0s;
-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;
}
@keyframes turn-river{
  from {
    -ms-transform: translateY(40px);
	-webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    -ms-transform: translateY(0px);
	-webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes turn-river{
from {
    -ms-transform: translateY(40px);
	-webkit-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    -ms-transform: translateY(0px);
	-webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
.blink{
/*animation*/
-webkit-animation:blink 0.8s ease-in infinite alternate;
   -moz-animation:blink 0.8s ease-in infinite alternate;
    -ms-animation:blink 0.8s ease-in infinite alternate;
     -o-animation:blink 0.8s ease-in infinite alternate;
        animation:blink 0.8s ease-in infinite alternate;
}
@keyframes blink{
0% {
    color: #fff;
  }

  80% {
    color: #f00;
  }

  100% {
    color: #f00;
  }
}
@-webkit-keyframes blink{
0% {
    color: #fff;
  }

  80% {
    color: #f00;
  }

  100% {
    color: #f00;
  }
}
